<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cervezas</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navegador') %>

    <main class="main-productos">
      <div class="contenedor-producto">
        <div class="producto">
          <img class="producto-imagen" src="/imagenes/cerveza1.png" alt="" />
          <div class="producto-detalles">
            <h3 class="producto-titulo">Heineken original</h3>
            <h3 class="producto-subtitulo">Heineken</h3>
            <p class="producto-precio">$1.000</p>
            <button class="producto-agregar">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="producto-imagen" src="/imagenes/cerveza2.png" alt="" />
          <div class="producto-detalles">
            <h3 class="producto-titulo">Royal Guard</h3>
            <h3 class="producto-subtitulo">Royal</h3>
            <p class="producto-precio">$1.200</p>
            <button class="producto-agregar">Agregar</button>
          </div>
        </div>
        <div class="producto">
          <img class="producto-imagen" src="/imagenes/cerveza3.png" alt="" />
          <div class="producto-detalles">
            <h3 class="producto-titulo">Torobayo Valdivia</h3>
            <h3 class="producto-subtitulo">Kunstmann</h3>
            <p class="producto-precio">$1.400</p>
            <button class="producto-agregar">Agregar</button>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
