  <style>
    /* Estilos para el footer */
    footer {
      margin: 25px;
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      text-align: left;
    }

    footer a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }
  </style>
<footer>
  <a href="#contacto">Contacto</a>
  <a href="#acerca-de">Acerca de</a>
  <a href="#copyright">Copyright</a>
</footer>

</body>
</html>
