<header>
  <div class="content-header">
    <h1>Barrilito Online</h1>
    <span class="material-symbols-outlined shopping-cart">shopping_cart</span>
  </div>
</header>
<nav>
  <a href="/">Inicio</a>
  <a href="/vinos">Vinos</a>
  <a href="/cervezas">Cervezas</a>
  <a href="/licores">Licores</a>
  <a href="/productos">Productos</a>
</nav>
